extends layout

block content
  h1 DLive Utils - Coming Soon™
  p Your home of unofficial DLive bots, tools, and libraries.

  p This site is currently under development. For now, feel free to check our our
   a(href="https://github.com/lkd70/passport-dlive") Passport strategy for authenticating with DLive 
  p Or our 
    a(href="https://github.com/lkd70/dlivetv-api") Unofficial DLive API